<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" type="text/css" href="templates/styles.css">
    <style media="screen">
      body{
        font-family: "Montserrat-black";
        text-align: center;
        background-color: #deedf0;
      }
      p{
        width: 100%;
        text-align: center;
        font-size: 1.3rem;
        /* margin-right: 50px; */
        font-family: sans-serif;
      }
      .img1{
        width: 20%;
        padding-left: 100px;
      }
    </style>
  </head>
  <body>
    <h1>To Detect harmful Chemicals in different products</h1>
    <img class="img1" src="C:\Users\reinita\Mini Project\templates\Chemical.png" alt="">
    <br>
    <p>Chemicals are used in our every day life,and we cannot ignore them completely</p>
    <p>We have toothpaste, cosmetics, processed food, pesticides, air fresheners, shampoo, soap and many other consumer goods that we enjoy.</p>
    <p> They’re everywhere! We live in a world of chemicals. Some of them are fairly safe but some need some careful handling - and some are really harmful!</p>
    <p>Inorder to detect harmful chemicals click on the below button...It will show the ingresients present in the product</p>
    <p>These everyday chemicals, including organophosphates, flame retardants and phthalates, can be found in food, plastics, furniture, food wrap, cookware, cans, carpets, shower curtains, electronics and even shampoo.</p>
    <p> They are pretty much everywhere around us.</p>
    <br>
    <p>In this way we can keep our environment safe.</p>
    <a href="/scan">Click Me</a>

  </body>
</html>
